// VSAD Niri — Window Rules

// Workspace 1: System Monitor (btop)
// kitty --class sets the Wayland app-id to "btop"
window-rule {
    match app-id="^btop$"
    open-on-workspace "1"
    open-maximized true
}

// No open-on-workspace for kitty — opens on current workspace

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}
