// VSAD Niri — Window Rules

// Workspace 1: System Monitor (btop)
window-rule {
    match app-id="kitty" app-name="btop"
    open-on-workspace 1
    maximize true
}

// Workspace 2: Main Terminal
window-rule {
    match app-id="kitty" !app-name="btop"
    open-on-workspace 2
}

window-rule {
    match app-id="kitty"
    opacity 0.95
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="thunar"
    opacity 0.98
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}
